<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="#{app.name}"></title>
	<meta name="keywords" content="java,在线,二维码,生成，解析" />
	<meta name="description" content="java,在线,二维码,生成，解析" />
	<div th:include="/common/meta :: meta" th:remove="tag"></div>
	<!-- BEGIN CSS_JS -->
	<div th:include="/common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
</head>
<body th:with="menu='HOME'" th:inline="text">

	<!-- BEGIN HEADER -->
	<div th:include="/common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	
	<div class="container">
		<div>
			<h3 style="text-align: center;">二维码生成</h3>
			<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
				<table>
					<tr>
						<td><label for="render">渲染类型</label></td>
						<td><select id="render" class="form-control">
							<option value="canvas">canvas</option>
							<option value="table">table</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="auto_clear">自动清除</label></td>
						<td><input style="width: 100%;height:20px;margin: 0 auto;" id="auto_clear" type="checkbox" checked="checked" /></td>
					</tr>
					<tr>
						<td><label for="background">背景色</label></td>
						<td>
							<select style="background-color: #FFFFFF;" onchange="$('#background').val($(this).val());$(this).css('background-color',$(this).val());" onpropertychange="$('#background').val($(this).val());$(this).css('background-color',$(this).val());">
								<option value="#FFFFFF" style="background-color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#000000" style="background-color: #000000;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FF0000" style="background-color: #FF0000;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FF9900" style="background-color: #FF9900;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FFFF00" style="background-color: #FFFF00;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#00FF00" style="background-color: #00FF00;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#0000FF" style="background-color: #0000FF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#00FFFF" style="background-color: #00FFFF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FF00FF" style="background-color: #FF00FF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
							</select>
							<input id="background" value="#FFFFFF" />
						</td>
					</tr>
					<tr>
						<td><label for="foreground">前景色</label></td>
						<td>
							<select style="background-color: #000000;" onchange="$('#foreground').val($(this).val());$(this).css('background-color',$(this).val());" onpropertychange="$('#foreground').val($(this).val());$(this).css('background-color',$(this).val());">
								<option value="#000000" style="background-color: #000000;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FFFFFF" style="background-color: #FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FF0000" style="background-color: #FF0000;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FF9900" style="background-color: #FF9900;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FFFF00" style="background-color: #FFFF00;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#00FF00" style="background-color: #00FF00;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#0000FF" style="background-color: #0000FF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#00FFFF" style="background-color: #00FFFF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
								<option value="#FF00FF" style="background-color: #FF00FF;">&nbsp;&nbsp;&nbsp;&nbsp;</option>
							</select>
							<input id="foreground" value="#000000" />
						</td>
					</tr>
					<tr>
						<td><label for="width">宽度</label></td>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon" onclick="$('#width').val(Number($('#width').val())-16);changeSize();">
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
								</span>
								<input id="width" value="128" class="form-control" onchange="changeSize();" onpropertychange="changeSize();" />
								<span class="input-group-addon" onclick="$('#width').val(Number($('#width').val())+16);changeSize();">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td><label for="height">高度</label></td>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon" onclick="$('#height').val(Number($('#height').val())-16);changeSize();">
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
								</span>
								<input id="height" value="128" class="form-control" onchange="changeSize();" onpropertychange="changeSize();" />
								<span class="input-group-addon" onclick="$('#height').val(Number($('#height').val())+16);changeSize();">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td><label for="text">文本内容</label></td>
						<td><textarea id="text" style="resize: none;" rows="5" class="form-control">test text!</textarea></td>
					</tr>
					<tr>
						<td><label for="insert_logo">LOGO</label></td>
						<td><input style="width: 100%;height:20px;margin: 0 auto;" id="insert_logo" type="checkbox" onclick="showLogoTr();" /></td>
					</tr>
					<tr class="logo_tr" style="display: none;">
						<td><label for="img">上传</label></td>
						<td>
					   		<form id="form_one" method="post" enctype="multipart/form-data">
								<input id="img" name="files" type="file" multiple="multiple" value="logo" accept="jpg/png" onchange="list_files('progress_bar',this.id,'submit')" />
					            <button id="submit" class="btn" type="button" disabled="true" onclick="start_upload('form_one','img',this.id,'back-logo');$('#logo').attr('src',$('#back-logo').attr('src'));">上传</button>
					   		</form>
					   		<div id="progress_bar">
					   		</div>
						</td>
					</tr>
					<tr class="logo_tr" style="display: none;">
						<td><label for="margin_left">左间距</label></td>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon" onclick="$('#margin_left').val(Number($('#margin_left').val())-16);">
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
								</span>
								<input id="margin_left" value="48" class="form-control" />
								<span class="input-group-addon" onclick="$('#margin_left').val(Number($('#margin_left').val())+16);">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</span>
							</div>
						</td>
					</tr>
					<tr class="logo_tr" style="display: none;">
						<td><label for="margin_top">上间距</label></td>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon" onclick="$('#margin_top').val(Number($('#margin_top').val())-16);">
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
								</span>
								<input id="margin_top" value="48" class="form-control" />
								<span class="input-group-addon" onclick="$('#margin_top').val(Number($('#margin_top').val())+16);">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</span>
							</div>
						</td>
					</tr>
					<tr class="logo_tr" style="display: none;">
						<td><label for="logo_width">logo宽度</label></td>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon" onclick="$('#logo_width').val(Number($('#logo_width').val())-16);">
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
								</span>
								<input id="logo_width" value="32" class="form-control" />
								<span class="input-group-addon" onclick="$('#logo_width').val(Number($('#logo_width').val())+16);">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</span>
							</div>
						</td>
					</tr>
					<tr class="logo_tr" style="display: none;">
						<td><label for="logo_height">logo高度</label></td>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon" onclick="$('#logo_height').val(Number($('#logo_height').val())-16);">
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
								</span>
								<input id="logo_height" value="32" class="form-control" />
								<span class="input-group-addon" onclick="$('#logo_height').val(Number($('#logo_height').val())+16);">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn" onclick="generateQrcode();">前台生成</button>
						</td>
						<td>
							<button class="btn" onclick="generateQrcodeBackground();">后台生成</button>
						</td>
					</tr>
				</table>
			</div>
			<div id="qrcode" class="col-lg-8 col-xs-8 col-sm-8 col-md-8"></div>
			<div>
				<img id="back-logo" style="display: none;" />
			</div>
			<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
			该工具出自：<a target="_blank" href="https://github.com/jeromeetienne/jquery-qrcode">https://github.com/jeromeetienne/jquery-qrcode（Jquery不支持图片，这里用样式控制覆盖在上面，如果图片太大，会扫不出来）</a>
			</div>
		</div>
		<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
			<h3 style="text-align: center;">二维码解析</h3>
	   		<form id="form_two" method="post" enctype="multipart/form-data">
				<input id="qrcode-img" name="files" type="file" multiple="multiple" value="logo" accept="jpg/png" onchange="list_files('progress_bar2',this.id,'submit2')" />
	            <button id="submit2" class="btn" type="button" disabled="true" onclick="start_upload('form_two','qrcode-img',this.id,'display-back');">上传</button>
	   		</form>
	   		<div id="progress_bar2">
	   		</div>
	   		<p><img id="display-back" alt="" src="" /></p>
	   		<button class="btn" type="button" onclick="parseQrcodeBackground();">后台解析</button>
	   		<p>解析结果：<span id="parse-text"></span></p>
		</div>
	</div>

	<div th:include="/common/footer :: footer" th:remove="tag"></div>
	<script type="text/javascript" src="/jquery/qrcode/qrcode.js"></script>
	<script type="text/javascript" src="/jquery/qrcode/jquery.qrcode.min.js"></script>
	<script type="text/javascript" src="/js/upload.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		function changeSize(){
			var width = $("#width").val();
			var height = $("#height").val();
			var hasLogo = $("#insert_logo").prop("checked");
			if (hasLogo) {
				var logoWidth = Math.floor(Number(width)/3);
				var logoHeight = Math.floor(Number(height)/3);
				$("#logo_width").val(logoWidth);
				$("#logo_height").val(logoHeight);
				$("#margin_left").val(Math.floor((Number(width)-logoWidth)/2));
				$("#margin_top").val(Math.floor((Number(height)-logoHeight)/2));
			}
		}
		             
		function showLogoTr(){
			var hasLogo = $("#insert_logo").prop("checked");
			if (hasLogo) {
				$("#qrcode").html("<img id=\"logo\" />");
			}
			if ($($(".logo_tr").get(0)).is(":visible")) {
				$(".logo_tr").hide();
			} else {
				$(".logo_tr").show();
			}
		}
		
		function generateQrcode(){
			var width = $("#width").val();
			var height = $("#height").val();
			var text = $("#text").val();
			var render = $("#render").val();
			var background = $("#background").val();
			var foreground = $("#foreground").val();
			var auto_clear = $("#auto_clear").prop("checked");
			var logPath = $("#back-logo").attr("src");
			if (auto_clear) {
				$("#qrcode").html("");
			}
			var hasLogo = $("#insert_logo").prop("checked");
			if (hasLogo) {
				$("#qrcode").html("<image id=\"logo\" src=\""+logPath+"\" />");
				var marginLeft = $("#margin_left").val();
				var marginTop = $("#margin_top").val();
				var logoWidth = $("#logo_width").val();
				var logoHeight = $("#logo_height").val();
				$("#logo").css("position","absolute");
				$("#logo").css("width", logoWidth+"px");
				$("#logo").css("height", logoHeight+"px");
				$("#logo").css("margin-left", marginLeft+"px");
				$("#logo").css("margin-top", marginTop+"px");
			}
			$("#qrcode").qrcode({
				render: render,//设置渲染方式
				width: width,//设置宽度
				height: height,//设置高度
				typeNumber: -1,//计算模式
				correctLevel	: QRErrorCorrectLevel.H,//纠错等级
				background: background,//背景颜色
				foreground: foreground,//前景颜色
				text: utf16to8(text)
			});
		}
		
		function generateQrcodeBackground(){
			var qrcodeContent = $("#text").val();
			var qrcodeName = "二维码";
			var needCompress = true;
			var qrcodeFormat ="jpg";
			var qrcodeWidth = $("#width").val();
			var qrcodeHeight = $("#height").val();
			var padding = 0;
			var background = $("#background").val();
			var foreground = $("#foreground").val();
			var auto_clear = $("#auto_clear").prop("checked");
			if (auto_clear) {
				$("#qrcode").html("");
			}
			var data = {
					qrcodeContent : qrcodeContent,
					qrcodeName : qrcodeName,
					needCompress : needCompress,
					qrcodeFormat : qrcodeFormat,
					qrcodeWidth : qrcodeWidth,
					qrcodeHeight : qrcodeHeight,
					background : background,
					foreground : foreground,
					logoPath : null
				};
			var hasLogo = $("#insert_logo").prop("checked");
			if (hasLogo) {
				data["logoPath"] = $("#back-logo").attr("src");
				data["marginLeft"] = $("#margin_left").val();
				data["marginTop"] = $("#margin_top").val();
				data["logoWidth"] = $("#logo_width").val();
				data["logoHeight"] = $("#logo_height").val();
			}
			general_ajax("/qrcode", "POST", data, null, function(result) {
				if (get_type(result) == "[object String]") {
					result = json_parse(result);
				}
				$("#qrcode").html("<image id=\"logo\" src=\""+result.data+"?"+new Date().getTime()+"\" />");
				$("#logo").css("position","absolute");
				$("#logo").css("width", qrcodeWidth+"px");
				$("#logo").css("height", qrcodeHeight+"px");
				alert(result.status == 200?"生成成功":"生成失败");
			}, null, null);
		}
		
		function parseQrcodeBackground(){
			var qrcodeImage = $("#display-back").attr("src");
			if (qrcodeImage==undefined||qrcodeImage=="") {
				alert("请先检查文件是否上传！");
				return false;
			}
			var data = { qrcodeImage : qrcodeImage };
			general_ajax("/qrcode/parse", "POST", data, null, function(result) {
				if (get_type(result) == "[object String]") {
					result = json_parse(result);
				}
				$("#parse-text").html(result.data);
				alert(result.status == 200?"解析成功":"解析失败");
			}, null, null);
		}
		/* ]]> */
	</script>
</body>
</html>