@CHARSET "UTF-8";

body{
	margin-top: 30px;
	margin-bottom: 50px;
}

ul.list{
	list-style: none;
	padding-left: 0px;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

button{
    float: left;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ff0000;
}