<div th:fragment="css_js">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/bootstrap/switch/bootstrap-switch.css" />
	<script src="/jquery/jquery-3.1.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/bootstrap/chart/Chart.bundle.min.js"></script>
	<script src="/bootstrap/switch/bootstrap-switch.min.js"></script>
	<script src="/js/chart.js" th:inline="javascript"></script>
	<!-- json2 -->
	<script src="/json/cycle.js"></script>
	<script src="/json/json_parse_state.js"></script>
	<script src="/json/json_parse.js"></script>
	<script src="/json/json2.js"></script>
	<!-- 自定义 -->
	<link rel="stylesheet" href="/css/common.css" />
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/ajax.js"></script>
	<script type="text/javascript" src="/js/utils.js"></script>
	<script type="text/javascript" src="/js/validator.js"></script>
</div>