<div th:fragment="header">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="" href="/"><img alt="主页" src="/img/logo.jpg" /></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li th:each="item:${menuList}" th:if="${#lists.isEmpty(item.subMenus)}" th:class="${item.id eq menu}?'active':''"><a th:utext="${item.nameZh}"></a></li>
					<li th:each="item:${menuList}" th:if="${not #lists.isEmpty(item.subMenus)}" th:class="${item.id eq menu}?'active dropdown':'dropdown'"><a href="#" th:href="${item.path}" class="dropdown-toggle"
						data-toggle="dropdown" th:utext="${item.nameZh}"><span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li th:class="${item.id eq menu}?'active':''"><a href="#" th:href="${item.path}" th:utext="${item.nameZh}+'【全部】'"></a></li>
							<li th:each="subItem:${item.subMenus}" th:class="${subItem.id eq subMenu}?'active':''"><a href="#" th:href="${subItem.path}" th:utext="${subItem.nameZh}"></a></li>
						</ul>
					</li>
				</ul>
				<form id="search" action="/search/result" class="navbar-form navbar-left" role="search">
					<div class="input-group">
						<input type="text" name="keywords" class="form-control" placeholder="Search"></input>
						<span class="input-group-addon" onclick="search.submit();">
							<i class="glyphicon glyphicon-search"></i>
						</span>
					</div>
				</form>
			</div>
			<a href=""></a>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<ol class="breadcrumb" th:each="item:${menuList}" th:if="${item.id eq menu}">
			<li>
				<a th:href="${item.path}" th:utext="${item.nameZh}"></a>
			</li>
			<li th:each="subItem:${item.subMenus}" th:if="${subItem.id eq subMenu}">
				<a th:href="${subItem.path}" th:utext="${subItem.nameZh}"></a>
			</li>
		</ol>
	</div>
</div>