<!DOCTYPE html>
<html>
<body>
	<div th:fragment="meta">
		<!-- <meta name="keywords" content="" /> -->
		<!-- <meta name="description" content="" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=no" />
		<meta name="author" content="" />
		
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Language" content="zh-cn" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<!-- <meta http-equiv="charset" content="UTF-8" /> -->
	</div>
</body>
</html>