<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="/common/meta :: meta" th:remove="tag"></div>
<title th:utext="#{app.name}"></title>
</head>
<body th:with="menu='FUNCTION',subMenu='FUNCTION_DATE'" th:inline="text">

	<!-- BEGIN HEADER -->
	<div th:include="/common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->

	<div class="container">
		<div>
			<h4>中国（GMT+8）时间转换</h4>
			<p style="color:red">提示：可输入各种标准时间格式和毫秒（长整型）时间</p>
			<div class="input-group col-lg-10">
				<input id="date_src" class="form-control" />
				<input class="form-control" readonly="readonly" value="毫秒时间" />
				<input class="form-control" readonly="readonly" value="UTC时间" />
				<span class="input-group-addon" onclick="convertToDate();">
					<i class="glyphicon glyphicon-random"></i>
				</span>
				<input id="date_yMdhms" readonly="readonly" class="form-control" />
				<input id="date_long" readonly="readonly" class="form-control" />
				<input id="date_utc" readonly="readonly" class="form-control" />
			</div>
		</div>
	</div>

	<!-- <div th:include="/common/slider_window :: slider_window" th:remove="tag"></div> -->

	<!-- BEGIN CSS_JS -->
	<div th:include="/common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
	<div th:include="/common/footer :: footer" th:remove="tag"></div>
	<script type="text/javascript" th:inline="javascript">
		Date.prototype.format = function(pattern) {
			var o = {
				"M+" : this.getMonth() + 1,
				"d+" : this.getDate(),
				"h+" : this.getHours(),
				"m+" : this.getMinutes(),
				"s+" : this.getSeconds(),
				"q+" : Math.floor((this.getMonth() + 3) / 3),
				"S" : this.getMilliseconds()
			}
			if (/(y+)/.test(pattern)) {
				pattern = pattern.replace(RegExp.$1, (this.getFullYear() + "")
						.substr(4 - RegExp.$1.length));
			}
			for ( var k in o) {
				if (new RegExp("(" + k + ")").test(pattern)) {
					pattern = pattern.replace(RegExp.$1,
							RegExp.$1.length == 1 ? o[k] : ("00" + o[k])
									.substr(("" + o[k]).length));
				}
			}
			return pattern;
		}
		
		function convertToDate() {
			var date_src = $("#date_src").val();
			var reg = /^\d{13}$/;
			var date = null;
			if(date_src==""){
				date = new Date();
			}else if (reg.test(date_src)) {
				date = new Date();
				date.setTime(date_src);
			}else{
				date = new Date(date_src);
			}
			var pattern = "yyyy-MM-dd hh:mm:ss";
			$("#date_yMdhms").val(date.format(pattern));
			$("#date_long").val(date.getTime());
			date.setTime(date.getTime()+date.getTimezoneOffset()*60*1000);
			$("#date_utc").val(date.format(pattern));
		}
		
		$("#date_src").val(new Date().toString());
	</script>
</body>
</html>