<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="/common/meta :: meta" th:remove="tag"></div>
	<title th:utext="#{app.name}"></title>
</head>
<body th:with="menu='FUNCTION'">

	<!-- BEGIN HEADER -->
	<div th:include="/common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	
	<div class="container">
		<!-- <div class="accordion" id="accordion-108984">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle collapsed" contenteditable="false" data-parent="#accordion-108984" data-toggle="collapse" href="#accordion-element-838053">选项卡 #1 </a>
				</div>
				<div class="accordion-body collapse" id="accordion-element-838053" style="height: 0px;">
					<div class="accordion-inner" contenteditable="true">功能块...</div>
				</div>
			</div>
			
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle collapsed" contenteditable="false" data-parent="#accordion-108984" data-toggle="collapse" href="#accordion-element-296129">选项卡 #2 </a>
				</div>
				<div class="accordion-body collapse" id="accordion-element-296129" style="height: 0px;">
					<div class="accordion-inner" contenteditable="true">功能块...</div>
				</div>
			</div>
		</div> -->
		<div class="row-fluid clearfix">
			<a class="btn" href="/history/ssq" >ssq</a><a class="btn" href="/history/dlt" >dlt</a>
		</div>
	</div>

	<!-- BEGIN CSS_JS -->
	<div th:include="/common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
	<div th:include="/common/footer :: footer" th:remove="tag"></div>
</body>
</html>