<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="#{app.name}"></title>
	<meta name="keywords" content="reg,正则,代码,js,java" />
	<div th:include="/common/meta :: meta" th:remove="tag"></div>
</head>
<body th:with="menu='FUNCTION',subMenu='FUNCTION_REG'" th:inline="text">

	<!-- BEGIN HEADER -->
	<div th:include="/common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	
	<div class="container">
		<div>
			<h4>常用正则表达式</h4>
			<table th:if="${not #lists.isEmpty(commonRegulars)}" class="table table-bordered table-hover">
				<thead>
					<tr>
						<td>常用校验信息</td>
						<td>正则表达式</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${commonRegulars}" onclick="choose_one_row(this);">
						<td th:utext="${item.name}"></td>
						<td th:utext="${item.expression}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<button class="btn" onclick="generateCode('java');">生成java代码</button>
			<button class="btn" onclick="generateCode('js');">生成js代码</button>
			<button class="btn" onclick="generateCode('python');">生成python代码</button>
			<button class="btn" onclick="generateCode('ruby');">生成ruby代码</button>
			<button id="copy" class="btn">复制代码</button>
		</div>
		<div>
			<input id="chosen" type="hidden" />
			<div id="result" style="border: solid 1px #ccc;">
			</div>
		</div>
	</div>

	<!-- BEGIN CSS_JS -->
	<div th:include="/common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
	<div th:include="/common/footer :: footer" th:remove="tag"></div>
    <script type="text/javascript" src="/zeroclipboard/ZeroClipboard.js"></script>
    <script type="text/javascript">
    	/* <![CDATA[ */
    	function choose_one_row(tr){
    		$(tr).parent().children("tr").removeClass("active");
    		var tds = $(tr).children("td");
    		$(tr).addClass("active");
    		$("#chosen").val($(tds.get(1)).html());
    	}
    	
    	function generateCode(codeType){
			var reg = $("#chosen").val();
			var result = "";
			var tab = "&nbsp;&nbsp;&nbsp;&nbsp;"
    		if (codeType=="java") {
    			result+="<p>String content = \"手机：18243672134，邮箱：adscasgads@xxx.com，身份证：43466019880306156X，时间："+new Date().toLocaleTimeString()+"，小数：123.53\";</p>";
    			result+="<p>Pattern pattern = Pattern.compile(\""+reg+"\");</p>";
    			result+="<p>Matcher matcher = pattern.matcher(content);</p>";
    			result+="<p>while (matcher.find()) {</p>";
    			result+="<p>"+tab+"System.out.println(matcher.group());</p>";
    			result+="<p>"+tab+"System.out.println(matcher.group(0));</p>";
    			result+="<p>"+tab+"System.out.println(matcher.start());</p>";
    			result+="<p>"+tab+"System.out.println(matcher.end());</p>";
    			result+="<p>}</p>";
			} else if(codeType=="js"){
    			result+="<p>var content = \"手机：18243672134，邮箱：adscasgads@xxx.com，身份证：43466019880306156X，时间："+new Date().toLocaleTimeString()+"，小数：123.53\";</p>";
				result+="<p>var reg = \/"+reg+"\/g</p>";
				result+="<p>var array=[];</p>";
				result+="<p>var temp;</p>";
				result+="<p>while ((temp=reg.exec(content)) != null) {</p>";
				result+="<p>"+tab+"array.push(temp.join(\"\"));</p>";
				result+="<p>}</p>";
				result+="<p>alert(array.join(\",\"))</p>";
			}else{
				result = "暂不支持生成"+codeType;
			}
			$("#result").html(result);
			result = result.replace(/<p>/g, "").replace(/&nbsp;/g, " ").replace(/<\/p>/g, "\r\n");
			if (codeType=="java") {
    			result = result.replace(/\\/g, "\\\\");
			}
			$("#copy").attr("data-clipboard-text",result);
    	}
    	
		$(function(){
	        var client = new ZeroClipboard($("#copy"));
			client.on("aftercopy", function (event) {
	        	alert("复制成功");
			});
	        client.on("error", function (event) {
				ZeroClipboard.destroy();
	        	alert("复制失败，浏览器暂不支持");
	        });
		});
		/* ]]> */
    </script>
</body>
</html>