<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mongo:mongo-client id="mongo" host="${mongo.host}"
		port="${mongo.port}" credentials="${mongo.username}:${mongo.password}@admin">
		<mongo:client-options connections-per-host="${mongo.connections.per.host}"
			min-connections-per-host="1"
			threads-allowed-to-block-for-connection-multiplier="${mongo.threads.connection.multiplier}"
			connect-timeout="${mongo.connect.timeout}" socket-timeout="${mongo.socket.timeout}"
			max-connection-life-time="${mongo.connect.life.time}" max-connection-idle-time="${mongo.connect.idle.time}" />
	</mongo:mongo-client>

	<mongo:db-factory id="mongoFactory" mongo-ref="mongo"
		dbname="${mongo.dbname}" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoFactory" />
	</bean>

	<mongo:repositories base-package="com.z.repository.mongodb" />

</beans>